digmethodsfem_schema.rnc

start=element document {meta, main}
#briefly explain document in context of project

meta=element meta {mixed {(author | title)+ (speaker | source  | publication_date)*}}
    author=element author {text}
    speaker=element speaker {text}
        description=attribute description {text} #describe identity (religion, race, etc.) in here. Just text, not comparable element. 
    source=element source {copyright, text}
        copyright=attribute copyight {text} #copyright under source
    publication_date=element publication_date {text}
    
main=element main {mixed {(power_system | intersection | speaker_identity | religion | class | setting | theory | structure)*}}
    #these are key topics we are looking at that hold different meanings under different contexts. Thus elements hold a broad description of the author/subject's intent, and the attributes
    #designate their focuses under said topic.
    power_system=element {p_patriarchy, p_religion, p_class, p_race, p_political, p_social} #these attribute names are similar to topics named as elements. 
     #the "p_" designation before the attribute name designates these topics as an attribute of the power_system element, differentiating them from elements with similar names.
        p_patriarchy=attribute patriarchy {text}
        p_religion=attribute religion {text}
        p_class=attribute class {text}
        p_race=attribute race {text} 
        p_political=attribute political {text}
    religion=element religion {mixed {(nonwestern | islam | protestentism | catholicism | judaism | indigenous)*}}
        nonwestern=attribute nonwestern {text}
        islam=attribute islam {text}
        protestentism=attribute protestentism {text}
        catholicism=attribute catholicism {text}
        judaism=attribute judaism{text}
        indigenous=attribute indigenous {text}
        christianity=attribute christianity {text}
    class=element class {mixed {(social, political, economic, working_class, wealthy, middle, lower)*}}
        social=attribute social {text}
        political=attribute political {text}
        economic=attribute economic {text}
        working_class=attribute working_class {text}
        wealthy=attribute wealthy {text}
        middle=attribute middle {text}
        lower=attribute lower {text}
    intersection=element {text} #no attributes, used in tandem with at least two other elements when the author/speaker is speaking about intersectionality/multiple topics.
    identity=element {mixed {(white, black, asian, indigenous, north_american, south_american, european, australian, man, woman, nonbinary, queer, gay, straight, lesbian, bisexual, trans)*}}
    #multiple attributes used as needed. Element used to qualify speaker/author or subject's identity, to compare who is highlighted and platformed between texts
        white=attribute white {text}
        black=attribute black {text}
        asian=attribute asian {text}
        indigenous=attribute indigenous {text}
        north_american=attribute north_american {text}
        south_american=attribute south_american {text}
        european=attribute european {text}
        australian=attribute australian {text}
        man=attribute man {text}
        woman=attribute woman {text}
        nonbinary=attribute nonbinary {text}
        queer=attribute queer {text}
        gay=attribute gay {text}
        straight=attribute straight {text}
        lesbian=attribute lesbian {text}
        bisexual=attribute bisexual {text}
        trans=attribute trans {text}
        =attribute  {text}
        
    setting=element {text} #no attributes, tagged
    theory=element {mixed {(marxist | rad_fem | enlightenment_individualism | terf | liberal | praxis | antifeminist}
        
    
    
   #add structure element with stanza, footnote, page, section, etc attributes
   #if doing more than one element, ie race, gender, intersextionality, stack correctly. Ex: tag "intersectionality" on outside, then either race/gender, whichever pops up first.