digmethodsfem_schema.rnc

start=element document {meta, main}

meta=element meta {mixed {(title+, author+, source* , publication_date*)}}
    author=element author {text}
    title=element title {text}
    source=element source {text}
    publication_date=element publication_date {text}
    
main=element main {mixed {(power_system* | intersection* | identity* | religion* | class* | structure* | f_theory* | s_theory* | setting*)*}}

power_system=element power_system {mixed {p_patriarchy*, p_religion*, p_class*, p_race*, p_political*, p_social*, p_matriarchy*}}
    p_patriarchy=attribute p_patriarchy {text}
    p_religion=attribute p_religion {text}
    p_class=attribute p_class {text}
    p_race=attribute p_race {text} 
    p_political=attribute p_political {text}
    p_social=attribute p_social {text}
    p_matriarchy=attribute p_matriarchy {text}
    

religion=element religion {mixed {(r_non_western | r_islam | r_protestentism | r_catholicism | r_judaism | r_indigenous | r_quaker | r_anglican |r_christianity | r_greekmyth)*}}
    r_non_western=attribute r_non_western {text}
    r_islam=attribute r_islam {text}
    r_protestentism=attribute r_protestentism {text}
    r_catholicism=attribute r_catholicism {text}
    r_judaism=attribute r_judaism{text}
    r_indigenous=attribute r_indigenous {text}
    r_christianity=attribute r_christianity {text}
    r_greekmyth=attribute r_greekmyth {text}
    r_quaker=attribute r_quaker {text}
    r_anglican=attribute r_anglican {text}

class=element class {mixed {social*, political*, economic*, working_class*, wealthy*, middle*, lower*}}
    social=attribute social {text}
    political=attribute political {text}
    economic=attribute economic {text}
    working_class=attribute working_class {text}
    wealthy=attribute wealthy {text}
    middle=attribute middle {text}
    lower=attribute lower {text}

intersection=element intersection {text}

identity=element identity {mixed {race*, sexuality*, gender*, nationality*}}
    race=attribute race {text}
    sexuality=attribute sexuality {text}
    gender=attribute gender {text}
    nationality=attribute nationality {text}
    
setting=element setting {text}

f_theory=element f_theory {mixed {(f_marxist | f_rad_fem | f_enlightenment_individualism | f_terf | f_liberal | f_praxis | f_antifeminist)*}}
    f_marxist=attribute f_marxist {text}
    f_rad_fem=attribute f_rad_fem {text}
    f_enlightenment_individualism=attribute f_enlightenment_individualism {text}
    f_terf=attribute f_terf {text}
    f_liberal=attribute f_liberal {text}
    f_praxis=attribute f_praxis {text}
    f_antifeminist=attribute f_antifeminist {text}
    
s_theory=element s_theory {mixed {(s_freud? | s_rights_of_man? | s_enlightenment_individualism? | structure*), (religion*)}}
    s_freud=attribute s_freud {text}
    s_rights_of_man=attribute s_rights_of_man {text}
    s_enlightenment_individualism=attribute s_enlightenment_individualism {text}
    
structure=element structure {(q? | cap? | p? | c? | l? | s? | page? | po? | le? | date? | fnote? | header?), (text | structure | setting | power_system | intersection | identity | religion | class | f_theory | s_theory)*}
    q=attribute q {text} #q=quote, cap=caption p=paragraph, l=line, s=stanza, page=page, po=poem, le=letter, date=date, fnote=footnote
    cap=attribute cap {text}
    p=attribute p {text}
    c=attribute c {text}
    l=attribute l {text}
    s=attribute s {text}
    page=attribute page {text}
    po=attribute po {text}
    le=attribute le {text}
    date=attribute date {text}
    fnote=attribute fnote {text}
    header=attribute header {text}
    