digmethodsfem_schema.rnc

start=element document {meta, main}
#briefly explain document in context of project

meta=element meta {mixed {(author | speaker | source | title | publication_date)*}}
    author=element author {text}
    speaker=element speaker {text}
    source=element source {text}
    publication_date=element publication_date {text}
main=element main {mixed {(power_system | intersection | speaker_identity | religion | class | setting | theory)*}}
    power_system=element {patriarchy, religion, class
    religion=element religion
    class=element class
    intersection=element
    speaker_identity=element
    setting=element
    theory=element
    
    
