digmethodsfem_schema.rnc

start=element document {meta, main}
#briefly explain document in context of project

meta=element meta {mixed {(author | speaker | source | title | publication_date)*}}
    author=element author {text}
    speaker=element speaker {text}
        description=attribute description {text} #describe identity (religion, race, etc.) in here. Just text, not comparable element. 
    source=element source {copyright, text}
        copyright=attribute copyight {text} #copyright under source
    publication_date=element publication_date {text}
    
main=element main {mixed {(power_system | intersection | speaker_identity | religion | class | setting | theory | identity)*}}
    power_system=element {patriarchy, religion, class, race, political, social} #these attribute names may be repeated under other elements or as seperate elements themselves
    #these are key topics we are looking at that hold different meanings under different contexts. Thus elements hold a broad description of the author/subject's 
        patriarchy=attribute patriarchy {text}
        reliigon=attribute religion {text}
        class=attribute class {text}
        race=attribute race {text}
        political=attribute
    religion=element religion
    class=element class
    intersection=element
    speaker_identity=element
    setting=element
    theory=element
    
    
   #add structure element with stanza, footnote, page, section, etc attributes